<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Document</title>
</head>
<body>

  <nav>
    <a class="navlink" href="/recipes">ALL Recipes</a>
    <% if (user) { %>
      <div class="dropdown">
        <button class="dropbtn"><img id ="profile-pic" src="<%= user.avatar %>">&nbsp; <%= user.name %></button>
        <div class="dropdown-content">
          <a class="navlink" href="/recipes/myaccount">My Account</a>
          <a class="navlink" href="/logout">LOGOUT</a>
        </div>
      </div>
      

    <% } else { %>
      <a href="/auth/google">LOGIN</a>
    <% } %>

  </nav>
  <main>