<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title><%= title %></title>
</head>
<body>

  <nav>
    <a class="navlink" href="/recipes">View Recipes</a>
    <a class="navlink" href="/recipes/new">Add A Recipe</a>
    <a href="/"><img id="nav-logo" src="https://i.imgur.com/OuMjD10.png"></a>
    <a class="navlink" href="/">Search</a>
    <% if (user) { %>
      <div class="dropdown">
        <button class="dropbtn"><img class ="profile-pic" src="<%= user.avatar %>">&nbsp; <%= user.name %></button>
        <div class="dropdown-content">
          <a href="/recipes/myaccount">My Account</a>
          <a href="/logout">LOGOUT</a>
        </div>
      </div>
      

    <% } else { %>
      <a href="/auth/google">LOGIN</a>
    <% } %>

  </nav>
  <main>