<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Yanone+Kaffeesatz:wght@700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title><%= title %></title>
</head>
<body>
  <nav>
    <div id="left-links">
      <a id="mobile-logo" href="/"><img id="nav-small-logo" src="https://i.imgur.com/KmDw3I7.png"></a>
      <a id="add-recipe-link" style=<%= user? "visibility:visible" : "visibility:hidden" %> class="navlink" href="/myaccount/new">Add A Recipe</a>
      <a id="view-recipe-link" class="navlink" href="/recipes">View Recipes</a>
    </div>
    <div id="middle-logo">
      <a href="/"><img id="nav-logo" src="https://i.imgur.com/OuMjD10.png"></a>
    </div>
    <div id="right-links">
      <a id="search-link" class="navlink" href="/">Search</a>
      <% if (user) { %>
        <div class="dropdown">
          <button class="dropbtn"><img id ="profile-pic-nav" src="<%= user.avatar %>">&nbsp; <%= user.username %></button>
          <div class="dropdown-content">
            <a href="/recipes">View Recipes</a>
            <a href="/">Search</a>
            <a href="/myaccount">My Account</a>
            <a href="/myaccount/myfavorites">My Favorites</a>
            <a href="/myaccount/new">Add A Recipe</a>
            <a href="/logout">LOGOUT</a>
          </div>
        </div>      
      <% } else { %>
        <a id="login-link"class="navlink" href="/auth/google">&#128273; Login</a>
        <div id="login-dropdown" class="dropdown">
        <button id="menu-btn"class="dropbtn">Menu</button>
        <div class="dropdown-content">
          <a href="/recipes">View Recipes</a>
          <a href="/">Search</a>
          <a href="/auth/google">Login</a>
        </div>
      <% } %>
    </div>
  </nav>
  <main>