<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Yanone+Kaffeesatz:wght@700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title><%= title %></title>
</head>
<body>

  <nav>
    <div id="left-links">
      <a class="navlink" href="/recipes">View Recipes</a>
      <a class="navlink" href="/recipes/new">Add A Recipe</a>
    </div>
    <div id="middle-logo">
      <a href="/"><img id="nav-logo" src="https://i.imgur.com/OuMjD10.png"></a>
    </div>
    <div id="right-links">
      <a class="navlink" href="/">Search</a>
      <% if (user) { %>
      <div class="dropdown">
          <button class="dropbtn"><img id ="profile-pic-nav" src="<%= user.avatar %>">&nbsp; <%= user.username %></button>
          <div class="dropdown-content">
            <a href="/recipes/myaccount">My Account</a>
            <a href="/logout">LOGOUT</a>
          </div>
      </div>
          
          
      <% } else { %>
      <a class="navlink" href="/auth/google">&#128273; Login With Google</a>
      <% } %>
    </div>

  </nav>
  <main>