<%- include('partials/header.ejs') %> 

    <p class="heading">Make A Recipe, Share A Recipe, Save A Recipe</p><br>
    <h3>What are you craving?</h3>
    <div id="search-container">
        <form action="/recipes/search" method="POST">
            <label id="search-label"><input id="search-bar" type="text" placeholder="  Main Ingredient.." name="search" autocomplete="off"><button id="search-button" type="submit">Find</button></label>
        </form>
    </div>

<%- include('partials/footer.ejs') %> 

