<%- include('partials/header.ejs') %> 

    <h1>Make A Recipe, Share A Recipe, Save A Recipe</h1><br>
    <h3>What are you craving?</h3>

    <form action="/recipes/search" method="POST">
        <label><input id="search-bar" type="text" placeholder="  Main Ingredient.." name="search"></label><button id="search-button" type="submit">&#x1F50D; Find</button>
    </form>


    <%- include('partials/footer.ejs') %> 

