<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Create A Username</title>
</head>
<body>
  <nav>
    <div id="middle-logo">
      <img id="nav-logo" src="https://i.imgur.com/OuMjD10.png"> 
    </div>
  </nav>
  <main>
    <p class="heading">Welcome to Sharecipe</p><br><br>
    <h3>Please create a username</h3>
    <div id="search-container">
      <form action="/users?_method=PUT" method="POST">
          <label id="search-label"><input id="search-bar" type="text" placeholder="  Please enter a username.." name="username"><button id="username-button" type="submit"> Submit</button></label>
      </form>
    </div>

<%- include('partials/footer.ejs') %> 
