<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Create A Username</title>
</head>
<body>

  <nav>

    <img id="nav-logo" src="https://i.imgur.com/OuMjD10.png">

      
  </nav>
  <main>

    <h1>Welcome to Sharecipe</h1><br>
    <p>A Community for Sharing the Love of Recipes</p>
    <h3>Please create a username</h3>

    <form action="/user?_method=PUT" method="POST">
        <label><input id="username" type="text" placeholder=" Please enter a username" name="username"></label><button id="username-btn" type="submit">Submit</button>
        <p><%= message %></p>
    </form>

<%- include('partials/footer.ejs') %> 
