* {
  box-sizing: border-box;
}
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 100px 1fr;
  grid-template-areas: 
    "nav"
    "main";
}

body > nav {
  grid-area: nav;
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 400px 1fr;
  grid-template-areas: 
    "left middle right";
  font-size: 20px;
}

.navlink {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  height: 100%;
}

body > main {
  background: url(https://i.imgur.com/d2N6JbG.jpg) no-repeat center center fixed;
  background-size: cover;
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  overflow-y: scroll;
  text-shadow: 0px 1px 4px black;
  width: 100%;
}

#left-links {
  grid-area: left;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#middle-logo {
  grid-area: middle;
}

#right-links {
  grid-area: right;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#search-container {
  width: 363px;
  height: 35px;
  display: flex;
  flex-wrap: wrap;
}

#search-label {
  height: 45px;
}

#search-bar {
  height: 100%;
  font-size: 18px;
  width: 285px;
  border-radius: 60px 0 0 60px;
  border-top: 2px solid white;
  border-right: none;
  border-bottom: 2px solid white;
  border-left: 2px solid white;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgba(78, 64, 64, 0.8);
  color: white;
  text-shadow: 0 3px 3px black;
  box-shadow: 0 3px 3px black;
}

#search-bar::placeholder {
  color: white;
  font-style: italic;
  opacity: 0.3;
}

#search-button {
  height: 100%;
  width: 70px;
  border-radius: 0 60px 60px 0;
  border: 2px solid white;
  box-shadow: 0 3px 3px black;
  padding: 2px 0 0 0;
  background-color: rgba(97, 91, 91, 0.9);
  color: white;
  text-shadow: 0 3px 3px black;
}

.heading {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: white;
  font-size: 60px;
  text-shadow: -1px 0px 6px black;
}

h3 {
  color: white;
  font-size: 30px;
  text-shadow: -1px 0px 6px black;
}

h5 {
  color: white;
  text-shadow: 0 3px 3px black;
  text-align: center;
}

#instructions {
  white-space: pre-wrap;
}

#nav-logo {
  width: 400px;
}

img {
  width: 100%;
}

.profile-pic {
  width: 25px;
  border-radius: 50%;
  box-shadow: 3px 4px 5px black;
  margin-right: 10px;
}

#profile-pic-nav {
  width: 25px;
  border-radius: 50%;
  margin-right: 5px;
}

#username-comment {
  text-shadow: -1px 3px 3px black;
  padding: 10px;
}

.comment-header {
  display: flex;
  align-items: center;
  color: white;
  text-shadow: 0 3px 3px 3px;
}

.recipe {
  background: url(https://i.imgur.com/RcNpKrD.jpg) no-repeat center center;
  background-size: cover;
  border-radius: 20px;
  box-shadow: 5px 5px 5px gray;
  border: 5px solid white;
  color: black;
  text-shadow: 0 3px 3px white;
  font-family: 'Libre Baskerville', serif;
  width: 360px;
  height: 430px;
  padding: 10px 20px 20px 20px;
  margin: 20px;
}

.recipe-detail {
  background: url(https://i.imgur.com/RcNpKrD.jpg) no-repeat center center;
  background-size: cover;
  border-radius: 20px;
  box-shadow: 5px 5px 5px gray;
  border: 5px solid white;
  padding: 30px;
  width: 60%;
  color: black;
  text-shadow: 0 3px 3px white;
  font-family: 'Libre Baskerville', serif;
}

#status-message {
  color: red;
  font-style: italic;
}

/* Dropdown Button */
.dropbtn {
  display: flex;
  align-items: center;
  background-color: transparent;
  color: white;
  font-size: 14px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
  padding-right: 20px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-image: linear-gradient(gray, #f1f1f1);
  background-color: #f1f1f1;
  min-width: 110px;
  box-shadow: 0px 8px 16px 0px black;
  z-index: 1;
  font-size: 14px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: transparent;}

#comment {
  border-radius: 20px;
  box-shadow: 5px 5px 5px black;
  border: 2px solid gray;
  padding: 5px 25px 25px 25px;
  width: 100%;
  color: white;
  text-shadow: 0 3px 3px black;
  background-color: rgba(95, 89, 89, 0.7);
}

#comment-box {
  background-color: rgba(95, 89, 89, 0.5);
  border-radius: 20px;
  box-shadow: 3px 5px 5px black;
  border: 3px solid black;
  padding: 0 25px 25px 25px;
  width: 100%;
}

.recipe-form {
  border-radius: 20px;
  background: url(https://i.imgur.com/RcNpKrD.jpg) no-repeat center center fixed;
  background-size: cover;
  border-radius: 20px;
  box-shadow: 5px 5px 5px gray;
  border: 5px solid white;
  text-shadow: 0 3px 3px white;
  padding: 25px;
  width: 600px;
}

#instructions-text {
  width: 100%;
  height: 300px;
}

#comments-text {
  width: 80%;
  height: 50px;
  border-radius: 60px 0 0 60px;
  border-top: 2px solid gray;
  border-right:  nome;
  border-bottom: 2px solid gray;
  border-left: 2px solid gray;
  padding: 15px;
  box-shadow: 0 5px 2px black;
  background-color: rgba(95, 89, 89, 0.7);
  color: white;
  font-style: italic;
  opacity: 0.7;
}

#add-comment-btn {
  width: 20%;
  border-radius: 0 60px 60px 0;
  height: 50px;
  box-shadow: 0 5px 2px black;
  padding: 15px;
  background-color: lightgray;
  border: 3px solid gray;
  border-left: none;
}

#add-comment-input{
  display: flex;
}

#comments-text::placeholder {
  color: white;
  font-style: italic;
  opacity: 0.7;
}

.pill {
  border-radius: 75px;
  padding: 5px;
  color: black;
}

.recipe-input {
  width: 100%;
}

.list-recipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.recipe-header {
  text-align: center;
  font-size: 20px;
  height: 75px;
  text-shadow: 0 3px 3px gray;
}

.view-recipe-btn-div {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.view-recipe-btn {
  height: 35px;
  border-radius: 20px;
  padding: 8px;
  box-shadow: 0 3px 3px gray;
  border: 2px solid black;
}

.view-recipe-btn:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
  text-shadow: 0 3px 3px gray;

}

.image {
  border: 3px solid black;
  box-shadow: 3px 5px 5px black;
  border-radius: 20px;
}

.navlink:visited {
  color: white;
}

#add-recipe-btn {
  height: 40px;
  padding: 10px;
  border-radius: 60px;
  border: 2px solid white;
  box-shadow: 0 3px 3px black;
  font-size: 16px;
  background-color: rgba(78, 64, 64, 0.8);
  color: white;
  text-shadow: 0 3px 3px black;
}

#add-recipe-btn:hover {
  background-color: rgba(255,255,255,0.8);
  color: black;
  text-shadow: 0 3px 3px white;
}

textarea {
  resize: none;
}

.full-instructions {
  background-color: rgba(95, 89, 89, 0.5);
  font-weight: bold;
  color: white;
  text-shadow: 0 4px 5px black;
  padding: 10px;
  border-radius: 20px;
  border: 3px solid black;
  box-shadow: 3px 5px 5px black;
  margin: 20px 0;
}

.oc-link {
  color: blue;
  text-shadow: 0 4px 5px gray;
}

.oc-link:visited {
  color: blue;
  text-shadow: 0 4px 5px gray;
}

.btn {
  height: 50px;
  width: 150px;
  border-radius: 60px;
  border: 2px solid black;
  box-shadow: 0 4px 5px black;
  padding: 10px;
  background-color: rgb(146, 145, 145);
  color: white;
  font-size: 18px;
  text-shadow: 0 3px 3px black;
}

.btn:hover{
  background-color: white;
  color: black;
  text-shadow: 0 3px 3px gray;
}

#recipe-edit-btns {
  display: flex;
  justify-content: space-around;
}

#username-button {
  height: 100%;
  width: 70px;
  border-radius: 0 60px 60px 0;
  border: 2px solid white;
  box-shadow: 0 3px 3px black;
  padding: 2px 0 0 0;
  background-color: rgba(97, 91, 91, 0.9);
  color: white;
  text-shadow: 0 3px 3px black;
}

#status {
  margin: 50px 0;
  font-size: 20px;
}

