* {
  box-sizing: border-box;
  font-family: Helvetica;
}

body {
  color: white;
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 100px 1fr;
  grid-template-areas: 
    "nav"
    "main"
}

body > nav {
  grid-area: nav;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 30px;
}
a {
  text-decoration: none;
}

body > main {
  background: url(https://i.imgur.com/d2N6JbG.jpg) no-repeat center center fixed;
  background-size: cover;
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 20px;
  overflow-y: scroll;
  text-shadow: 0px 1px 4px black;
}
.navlink {
  color: white;
  width: 100px;
}
#search-bar {
  height: 30px;
  width: 350px;
}
#search-button {
  height: 30px;
  width: 70px;
  margin-left: 5px;
}

#instructions {
  white-space: pre-wrap;
}
.navlink {
  width: 100px;
}
#nav-logo {
  width: 400px;
}
img {
  width: 100%;
}
.profile-pic {
  width: 25px;
  border-radius: 50%;
}

.recipe {
  background-color: lightgray;
  border-radius: 20px;
  box-shadow: 5px 5px 5px gray;
  border: 5px solid black;
  padding: 25px;
  width: 400px;
}
nav {
  text-align: right;
}

#status-message {
  color: red;
  font-style: italic;
}
/* Dropdown Button */
.dropbtn {
  display: flex;
  align-items: center;
  background-color: transparent;
  color: white;
  
  font-size: 14px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 110px;
  box-shadow: 0px 8px 16px 0px black;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: transparent;}


.recipe-detail {
  background-color: lightgray;
  border-radius: 20px;
  box-shadow: 5px 5px 5px black;
  border: 5px solid black;
  padding: 25px;
  width: 600px;
}
#comment {
  border-radius: 20px;
  box-shadow: 5px 5px 5px gray;
  border: 1px solid black;
  padding: 25px;
  width: 100%;
}
#comment-box {
  border-radius: 20px;
  box-shadow: 5px 5px 5px gray;
  border: 1px solid black;
  padding: 0 25px 25px 25px;
  width: 100%;
}

.recipe-form {
  border-radius: 20px;
  background-color: lightgray;
  border-radius: 20px;
  box-shadow: 5px 5px 5px black;
  border: 5px solid black;
  padding: 25px;
  width: 600px;
}
#instructions-text {
  width: 100%;
  height: 300px;
}
#comments-text {
  width: 100%;
  height: 50px;
}
#pill {
  border-radius: 16px;
  color: white;
}
.recipe-input {
  width: 100%;
}
#comment-content {

}
