body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#instructions {
  white-space: pre-wrap;
}

img {
  width: 500px;
  height: 300px;
}

.recipe {
  border: 5px solid black;
  padding: 50px;
}

h1 {
  text-align: center;
}

nav {
  text-align: right;
}
