<%- include('../partials/header.ejs') %> 
<h2>Add a recipe</h2>


<form action="/recipes" method="POST">
    <label>Title: <input type="text" name="title"><br></label>
    <label>Ingredients: <input type="text" name="name" >
        <button type="submit" formaction="/ingredients" method="POST">Add</button><br>
    </label>
    <br><label>Instructions: <textarea name="instructions" ></textarea><br></label>
    <label>Image URL: <input type="text" name="imgUrl" ><br></label>
    <input type="submit" value="Add Recipe">
</form> 